<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <%= link_to "Portal Bolsa De Emprego", root_path, id: "logo" %>
       <nav>
      <ul class="nav navbar-nav navbar-left">
      <!-- Barra superior encostado à esquerda-->
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Entidades", 'showEntidades' %></li>
         <li><%= link_to "Candidatos", 'showCandidatos' %></li>
        <li><%= link_to "Ofertas", 'showOfertas' %></li>
        <li><%= link_to "Noticias", 'showNoticias' %></li>
      </ul>
  <!-- Barra superior encostado à direita-->
       <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Registar-me", '#' %></li>
        <li><%= link_to "Login", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
